POSTGRES_TEST_USER="test-user"
POSTGRES_TEST_PASSWORD="test-password"
POSTGRES_TEST_DB="test-db"
POSTGRES_TEST_PORT="5434"

DATABASE_TEST_URL="postgresql://test-user:test-password@localhost:5434/test-db?schema=public"
BETTER_AUTH_SECRET="test-secret"
BETTER_AUTH_URL="http://localhost:3000"
