DATABASE="db"
DATABASE_USER="user"
DATABASE_PASSWORD="password"
DATABASE_PORT="port"

DATABASE_URL="your-database-url"

BETTER_AUTH_SECRET="better-auth-secret"
BETTER_AUTH_URL="better-auth-url"

GOOGLE_CLIENT_ID="google-oauth-setup"
GOOGLE_CLIENT_SECRET="google-oauth-setup"
